<!DOCTYPE html>
<html lang="en">
  <head> 
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Website CSS style -->
	<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../assets/css/register.css" rel="stylesheet">
	<link href="../assets/css/workplace_tables.css" rel="stylesheet">
	<link rel="icon" href="../assets/img/favicon.ico">
  <!-- <link rel="icon" type="image/png" href="logo.png" sizes="16x16" /> -->


	<title>Employee Registration</title>
  </head>
  <body>
  
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">S H O R T + C U T</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<div class="col-sm-1 col-md-2 sidebar">
	  <ul class="nav nav-sidebar">
		<li><a href="../workplace_tables/workplace_tables.views.html">Workplace List</a></li>
		<li><a href="../register_workplace/register_workplace.views.html">Add Workplace</a></li>
		<li class="active"><a href="#">Add Employee</a><span class="sr-only">(current)</span></li>
	  </ul>
    </div>

	<div id="container-navbar" class="container">
		<h1 class="well">Employee Info</h1>
		<div class="col-lg-12 well">
		<div class="row">
		  <form name="form" ng-submit="vm.register()" role="form">
			<div class="col-sm-12">
			  <div class="row">
					<div class="col-sm-6 form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
						<label for="username">First Name</label>
						<input type="text" name="firstName" id="Text1" placeholder="Enter First Name Here.." class="form-control" ng-model="vm.user.firstName" required/>
						<span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
					</div>
					<div class="col-sm-6 form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
						<label for="username">Last Name</label>
						<input type="text" name="lastName" id="Text1" placeholder="Enter Last Name Here.." class="form-control" ng-model="vm.user.lastName" required />
						<span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
					</div>
			  </div>                    
			<div class="form-group" ng-class="{ 'has-error': form.phoneNumber.$dirty && form.phoneNumber.$error.required }">
			  <label for="phoneNumber">Phone Number</label>
			  <input type="text" placeholder="Enter Phone Number Here.." class="form-control">
			</div>    
			<div class="form-group">
			  <label>Email Address</label>
			  <input type="text" placeholder="Enter Email Address Here.." class="form-control">
			</div>  
			<button type="button" class="btn btn-lg btn-success">Submit</button>         
			</div>
		  </form> 
		  </div>
		</div>
	</div>

	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  </body>
</html>
